body{
  font-family:Roboto,acumin-pro,sans-serif; margin:8px 0; line-height:1.5; font-size:1.125rem; color:#222; moz-osx-font-smoothing:grayscale; -webkit-font-smoothing: antialiased;
}
[hidden] {
  display: none;
}
a{
  text-decoration:none; color:inherit;
}
button{
  font-family:inherit; font-size:inherit; line-height:inherit;
}
p abbr,
li abbr{
  font-variant:all-small-caps; font-weight:500;
}
h1{
  font-size:.875rem; margin:0;
}
.screen-reader-text{
  position:absolute!important; clip:rect(1px,1px,1px,1px); padding:0!important; border:0!important; height:1px!important; width:1px!important; overflow:hidden;
}
.container{
  max-width:1100px; margin-left:auto; margin-right:auto; padding-left:8px; padding-right:8px;
}
.logos{
  display:flex; justify-content:space-between; align-items:center; padding-bottom:8px;
}
.logo a{
  display:flex; align-items:center;
}
.logo img{
  vertical-align:middle;
}
.logo span{
  font-family:Work Sans;
  font-weight:900;
  font-size:24px;
  line-height:1.2;
  text-transform:uppercase;
  display:inline-block;
  vertical-align:middle;
  width:180px;
  padding-left:12px;
  color:#00944d;
  position:relative;
}
.logo span:before{
  content:""; height:76px; position:absolute; left:0; top:5px; border-right:1px solid hsl(39.2, 52.7%, 87.7%); border-left:1px solid hsl(39.2, 52.7%, 77.7%);
}
.tg-logo img{
  width:90px; vertical-align:middle;
}
nav{
  clear:both; position:relative; z-index:100; background-color:#f9f4ea; color:#513d19; border:1px solid #efe3cb; border-left-width:0; border-right-width:0;
}
.toggle-menu{
  height:40px; width:100%; text-align:left; font-variant:all-small-caps; font-weight:700; font-size:1rem; letter-spacing:1px; background:url(../images/menu.svg) no-repeat center; border:none;
}
.toggle-menu[aria-expanded="true"]{
  background-image:url(../images/close.svg); background-color:#f0e5cf; border-bottom:1px solid #ecdbbb;
}
.toggle-menu::-moz-focus-inner{
  border:0;
}
.toggle-menu:focus{
  background-color:#f6efe2;
}
.primary-menu{
  font-size:1rem; margin-top:0; margin-bottom:0; list-style:none;
}
.primary-menu .level-1{
  position:relative;
}
.primary-menu .level-1-a{
  font-weight:500;
}
.primary-menu .level-1-a,
.primary-menu .level-2-a,
.primary-menu .level-3-a{
  display:block; padding-top:8px; padding-bottom:8px;
}
.primary-menu button::-moz-focus-inner{
  border: 0;
}
.primary-menu button.level-1-a,
.primary-menu button.level-2-a{
  padding-right:28px; background:url(../images/arrow-down.svg) no-repeat; background-position:100% 50%; background-position:calc(100% - 8px) 50%; background-size:18px; color:inherit; border:none;
}
.primary-menu .level-1:hover .level-1-a,
.primary-menu .level-1-a:hover,
.primary-menu .level-1-a:focus,
.primary-menu .level-2-a:hover,
.primary-menu .level-2-a:focus,
.primary-menu .level-3-a:hover,
.primary-menu .level-3-a:focus{
  background-color:#c69a47; color:#fff; outline:1px solid #c69a47;
}
.primary-menu .level-1:hover button.level-1-a,
.primary-menu button.level-1-a:hover,
.primary-menu button.level-1-a:focus,
.primary-menu button.level-2-a:hover,
.primary-menu button.level-2-a:focus{
  background-image:url(../images/arrow-down-white.svg);
}
.primary-menu li:hover > .submenu{
  display:block;
}
.primary-menu .submenu{
  
}
.primary-menu > li:last-child .submenu{
  right:0;
}
.primary-menu .submenu li{
  border-bottom:1px solid #eee;
}
.primary-menu .submenu li:last-child {
  border-bottom: none;
}
.primary-menu .level-2-a{
  font-size:15px;
  line-height:1.4;
  padding:8px 20px 12px;
}
.primary-menu .submenu .submenu{
  top:0;
  left:100%;
  display:none;
}
.primary-menu .submenu li{
  display:block;
}
.primary-menu .submenu button{
  text-align:left;
}

@media (max-width:1024px){
  .primary-menu{
    padding:0;
  }
  .primary-menu .level-1:first-child{
    display:none;
  }
}
@media (max-width:900px){
  .primary-menu{
    font-size:.875rem;
  }
}
@media (min-width:768px){
  .primary-menu{
    display:flex; justify-content:space-between; justify-content:space-evenly;
  }
  .primary-menu .level-1-a,
  .primary-menu .level-2-a,
  .primary-menu .level-3-a{
    padding-left:16px; padding-right:16px;
  }
  .primary-menu .submenu {
    position:absolute; padding:0 0 4px; border-radius:0 0 4px 4px; background:#fff; box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16); border-top:2px solid #c69a47; max-width:300px; width:250px; display:none;
  }
}
@media (max-width:767.99999999999999px){
  .primary-menu{
    padding-bottom:10px; display:none;
  }
  body.showing-menu .primary-menu{
    display:block;
  }
  body.showing-menu main,
  body.showing-menu footer{
    /* animation:bow-out .3s cubic-bezier(.08,.82,.17,1) forwards;*/
  }
}
@media (min-width:768px){
  .toggle-menu{
    display:none;
  }
}
@media (max-width:767px) and (min-width:600px){
  .toggle-menu{
    padding-left:36px; background-position:calc(100% - 41px) 50%;
  }
  .primary-menu .level-1-a{
    padding-left:36px; padding-right:36px; 
  }
}
@media (max-width:600px) and (min-width:400px){
  .toggle-menu{
    padding-left:32px; background-position:calc(100% - 32px) 50%;
  }
  .primary-menu .level-1-a{
    padding-left:32px; padding-right:32px; 
  }
  .logo img,
  .tg-logo img{
    width:72px;
  }
  .logo span{
    font-size:20px; padding-left:8px;
  }
  .logo span:before{
    height:63px;
  }
}
@media (max-width:399.99999999999999px){
  .toggle-menu{
    padding-left:24px; background-position:calc(100% - 27px) 50%;
  }
  .primary-menu .level-1-a{
    padding-left:24px; padding-right:24px; 
  }
  .logos{
    padding-bottom:8px;
  }
  .logo a{
    padding:4px 0;
  }
  .logo img,
  .tg-logo img{
    width:62px;
  }
  .logo span{
    font-size:18px; width:150px; padding-left:8px;
  }
  .logo span:before{
    height:57px; top:4px;
  }
}

@keyframes bow-out{
  from{
    transform:translateY(0); opacity:1;
  }
  to{
    transform:translateY(100px); opacity:0;
  }
}

.a{
  min-width:250px;
  padding:0;
  margin-right:48px;
  background-color:hsl(210, 38.5%, 98.8%);
  border:1px solid hsl(210, 38.5%, 96.3%);
  border-radius:2px;
}
.a li{
  position:relative;
}
.a a{
  padding:8px 56px 12px 32px;
  display:block;
  position:relative;
  font-size:14px;
  color:#333;
}
.a li + li a{
  border-top:1px solid #eee;
}
.a li:hover > a{
  background-color:#396099;
  color:#fff;
}
.a svg{
  position:absolute;
  top:50%;
  right:16px;
  transform:translateY(-50%);
}
.a .submenu{
  position:absolute;
  left:100%;
  top:0;
  background-color:aliceblue;
  padding:0;
  width:250px;
  box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
  border-radius:4px;
  display:none;
}
.a a:hover + .submenu,
.submenu:hover{
  display:block;
}
h1.highlight{
  font-family:Work Sans, Acumin-pro, sans-serif; text-transform:uppercase; margin:0; line-height:24px; font-size:20px; font-weight:700;
}
h1.highlight + p{
  margin-top:4px;
}
.quick-links ul{
  padding:0 0 4px; box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16); font-size:.875rem; line-height:1.5rem;
}
.quick-links li{
  list-style:none; background:#fff url(../images/arrow-forward.svg) no-repeat 12px 12px/16px; border-bottom:1px dotted #aaa;
}
.quick-links li:last-child{
  border-bottom:none;
}
.quick-links a{
  display:block; padding:8px 20px 8px 40px;
}
.news h1 {
	padding:8px 36px;	box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16); font-variant:all-small-caps; font-size:17px; border-radius:4px 4px 0 0; border-bottom:1px solid #ddd; font-weight:700; letter-spacing:1px; color:#58431b;
}
.news ul{
  padding-left:0; margin:0; list-style:none; box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
}
.news li{
  background:#fff url(../images/file-document-box-outline.svg) no-repeat 18px 12px; border-bottom:1px dotted #aaa; position:relative;
}
.news li a{
  padding:12px 16px 12px 56px; font-size:.875rem; line-height:1.5rem; display:block;
}
.news li.new::after {
	content:"new"; font-size:11px; position:absolute; top:0; left:24px; display:block; margin-top:8px; width:30px; text-align:center; padding:2px 0 4px;	background-color:red;	color:#fff; border-radius:2px; line-height:1;
}

.related-links{
  grid-area:1/1/span 3/auto; padding-right:20px; border-right:1px solid #decccc;
}
.related-links div{
  border-radius:4px; box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
}
.related-links ul{
  list-style:none; padding:0 0 4px; margin:0; font-size:.875rem;
}
.related-links li{
  border-bottom:1px dotted #eee; background:url(../images/arrow-forward.svg) no-repeat 12px 10px/16px;
}
.related-links a{
  padding:8px 16px 8px 36px; display:block;
}
.related-links h1{
	padding:8px 36px; font-variant:all-small-caps; font-size:20px; line-height:1; border-bottom:1px solid #ddd; font-weight:700; letter-spacing:1px; color:#58431b;
}

h2 {
	font-size: 20px;
}



main{
  display:grid; grid-template-columns:200px repeat(2, 1fr) 300px; grid-gap:20px; margin-top:15px;
}
.banner{
  grid-area:auto/auto/auto/span 3;
}
.banners-container{
  height:400px; grid-column-end:span 3; position:relative;
}
.banners,
.banner{
  width:100%; height:100%;
}
.banners{
  position:relative;
}
.banner{
  position:absolute; transition:opacity 1s ease; display:none; padding:20px; box-sizing:border-box; border-radius:2px; background-color:#fafafa; box-shadow:0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
}
.banner.active{
  display:block; animation:fade-in .5s ease;
}
.banner.in-transition{
  opacity:0;
}
@keyframes fade-in{
  from{opacity:0} to{opacity:1}
}
.banner h1{
  text-transform:uppercase; font-family:Work Sans, sans-serif; font-size:1.125rem;
}
.banner-navigation{
  position:absolute; right:20px; bottom:20px;
}
.next-banner,
.previous-banner{
  background-image:url(../images/arrow-down.svg); background-repeat:no-repeat; background-position:center; border:none; width:40px; height:40px; border-radius:50%;
}
.previous-banner{
  transform:rotate(90deg);
}
.next-banner{
  transform:rotate(-90deg);
}
.next-banner:hover,
.next-banner:focus,
.previous-banner:focus,
.previous-banner:hover{
  background-color:red;
}
.next-banner::-moz-focus-inner,
.previous-banner::-moz-focus-inner{
  border:none
}
.news{
  grid-row-end:span 2;
}
.about-us{
  grid-column-end:span 2;
}
footer{
	border-top:2px solid #c69a47; display:grid; grid-template-columns:1fr 300px; grid-gap:12px 32px; margin-top:20px; padding-top:12px; padding-left:2px;
}
.sitemap ul{
  padding:0; list-style:none;
}
.sitemap > ul{
	display:grid; grid-template-columns:repeat(3, 200px); grid-gap:0 32px; grid-template-rows:repeat(3, auto); color:#333;
}
.sitemap .level-1{
  padding-left:40px; background:url(../images/arrow-forward.svg) no-repeat 12px 8px/16px
}
.sitemap .level-1:first-child{
  grid-row-end:span 3;
}
.sitemap .level-1:nth-child(2){
  grid-row-end: span 2;
}
.sitemap h1{
  font-family:inherit; font-size:1rem; font-weight:500; text-transform:none; margin:0;
}
.sitemap .submenu{
  padding-left:16px; list-style:circle;
}
.sitemap .level-1-a{
  font-size:1rem; font-weight:500;
}
.sitemap .level-2{
  font-size:14px; margin:8px 0;
}
.copyright{
	grid-column:1/span 2;	text-align:center; color:#666; font-size:.875rem;
}
.copyright p{
  float:left; padding:8px 0;
}
.copyright ul{
  float:right; list-style:none;
}
.copyright li{
  display:inline-block; padding:8px 0 8px 16px;
}
